*{
    margin: 0px;
    padding: 0px;
    transition: all 0.4s ease-in;
}
html{
    height: 100%;
}
body{
    width: 100%;
    background-color: #fafafa;
}
.title{
    text-transform: uppercase;
}
.form-auth{
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px 60px;
}
.btn{
    background-color: #00f;
    border-radius: 0px;
    color: #fff;
}
.btn:hover{
    background-color:#66f;
}
input[type=text]{
    padding-left: 15px;
}