<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Examen JSP - AIEP</title>
<script type="text/javascript" src="RESOURCES/js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="RESOURCES/js/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" src="RESOURCES/js/bootstrap.min.js" ></script>
<link rel="stylesheet" type="text/css" href="RESOURCES/css/bootstrap-grid.min.css">
<link rel="stylesheet" type="text/css" href="RESOURCES/css/bootstrap-reboot.min.css">
<link rel="stylesheet" type="text/css" href="RESOURCES/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="RESOURCES/css/BasicStyle.css">